.rounded_nav{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.rounded-8{
    border-radius: 20px;
}
.umkm-login-footer{
    position: absolute;
    margin-top: 20px;
    bottom: 0;
}
.pb-15{
    padding-bottom: 150px;;
}