/*Font*/
* {
	font-family: Roboto;
}

html, body {
	height: 100%;
	margin: 0;
}


/*Color*/
.umkm-bg-green {
	background-color: #ADC965;
}
.umkm-bg-cyan {
	background-color: #89d5c9;
}
.umkm-bg-creme {
	background-color: #FAC172;
}
.umkm-bg-orange {
	background-color: #ff8357;
}
.umkm-bg-red {
	background-color: #e25b45;
}
.umkm-bg-light-green {
	background-color: #e1ecc7;
}

/*List*/
.umkm-list {
	cursor: pointer;
	color: black;
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.umkm-list:hover {
	background-color: #F7F7F7;
	color: black;
	text-decoration: none;
}
.umkm-list.active {
	background-color: #e1ecc7;
	color: #63733e;
}

/*Border*/
.umkm-border-green {
	border: 1px solid #ADC965;
}
.umkm-border-creme {
	border: 1px solid #FAC172;
}

/*Navbar*/
.umkm-nav.active {
	border: 1px solid #ADC965 !important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.no-event {
	pointer-events: none;
}

.umkm-big-text {
	font-size: 60px;
	font-weight: bold;
}

.umkm-rounded {
	border-radius: 20px;
}

.umkm-rounded .umkm-header {
	border-radius: 20px 20px 0 0;
}

.umkm-left-navbar {
	position: fixed;
	border-right: 1px solid #E6E6E6;
	height: 100%;
}

.white-box {
	width: 30px;
	height: 30px;
	border: 0;
	background-color: white;
	border-radius: 8px;
}

.umkm-title {
	font-weight: bold;
	font-size: 30px;
}

.btn.active {
	background-color: #e1ecc7 !important;
	border: 1px solid #63733e !important;
	color: #63733e !important;
}


/*flexbox*/
.umkm-flex-between {
	display: flex;
	justify-content: space-between;
}

.umkm-flex-grow {
	flex: 1 1 auto;
}