/* IMPORT */
@import "components/button.css";
@import "components/text.css";
@import "components/border.css";

.form-control:focus, .btn:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html, body {
	height: 100%;
	margin: 0;
}


/*Color*/
.umkm-bg-green {
	background-color: #ADC965;
}
.umkm-bg-cyan {
	background-color: #89d5c9;
}
.umkm-bg-creme {
	background-color: #FAC172;
}
.umkm-bg-orange {
	background-color: #ff8357;
}
.umkm-bg-red {
	background-color: #e25b45;
}
.umkm-bg-light-green {
	background-color: #e1ecc7;
}
.umkm-bg-black {
	background-color: #3a4129;
}
.umkm-bg-white {
	background-color: #fff;
	color: black !important;
}

.umkm-svg-white {
	fill: white;
}

/*List*/
.umkm-list {
	cursor: pointer;
	color: black;
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.umkm-list:hover {
	background-color: #F7F7F7;
	color: black;
	text-decoration: none;
}
.umkm-list.active {
	background-color: #e1ecc7;
	color: #63733e;
}

/*Navbar*/
.umkm-nav.active {
	border: 1px solid #ADC965 !important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.no-event {
	pointer-events: none;
}

.umkm-left-navbar {
	position: fixed;
	border-right: 1px solid #E6E6E6;
	height: 100%;
}

.white-box {
	width: 30px;
	height: 30px;
	border: 0;
	background-color: white;
	border-radius: 8px;
}


/*flexbox*/
.umkm-flex-between {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.umkm-flex-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.umkm-flex-right {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.umkm-flex-grow {
	flex: 1 1 auto;
}


.umkm-modal {
	background-color: transparent;
	border: 0;
}

.umkm-popup-body {
	border-radius: 0px 0px 20px 20px;
	background-color: white;
	padding: 20px;
}

/*popup*/
.umkm-popup-header {
	border-radius: 20px 20px 0px 0px;
	color: white;
	padding: 20px;
	display: flex;
	align-items: center;
}

.umkm-textarea {
	width: 100%;
	border: 1px solid gray;
	border-radius: 20px;
	padding: 15px;
}

.umkm-textarea {
	resize: none;
}

.select2-container  {
	display: block;
}


.select2-container .select2-selection {
	border: 1px solid gray;
	border-radius: 50rem !important;
	padding: 15px;
	height: auto;
}

.select2-selection__arrow {
	top: 15px !important;
}


.dropdown .card {
	border: 0px;
	background-color: transparent;
	border-radius: 0px;
}

.umkm-shadow {
	box-shadow: 0 .3rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.umkm-rounded-top {
	border-radius: 20px 20px 0 0;
}
.umkm-rounded-bottom {
	border-radius: 0 0 20px 20px;
}

.umkm-border-btm-dark {
	border: 0;
	border-bottom: 1px solid black;
}

/*images*/
.active img {
	filter: invert(39%) sepia(57%) saturate(346%) hue-rotate(37deg) brightness(92%) contrast(83%);
}

/*radio*/
.radio-style span {
	padding-left: 20px;
	padding-right: 20px;
}

input.labelauty:checked + label {
	background-color: black;
}
input.labelauty:checked:not([disabled]) + label:hover {
	background-color: black;
}

.slick-list {
	padding-top: 20px !important;
}

.slick-prev, .slick-next {
	position: absolute;
	z-index: 999;
	border-radius: 30px;
	padding: 10px 20px;
	border: 0;
	background-color: white;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.slick-prev {
	top: 45%;
	left: 125px;
	
}

.slick-next {
	top: 45%;
	right: 170px;
}

.umkm-profile{
	color: #000;
	padding: 10px 0px;
	text-align: center;
	text-decoration: none;
}

.umkm-profile:hover{
	color: #fff;
	background-color: #ADC965;
}

.umkm-border-bottom {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #ced4da !important;
}

.umkm-text-jumlah {
	font-weight: bold;
	text-align: center;
	width: 20%;
	border: 0;
	border-bottom: 1px solid #ced4da !important;
	border-radius: 0;
	margin: 0 1rem !important;
}

.input-search-container {
	position: relative;
	box-shadow: 0 .1rem 0.1rem rgba(0, 0, 0, 0.15) !important;
	border: 0;
	border-radius: 0.5rem;
}

.input-search {
	border: 0;
}