/*Color*/
.umkm-bg-green {
	background-color: #ADC965;
}
.umkm-bg-cyan {
	background-color: #89d5c9;
}
.umkm-bg-creme {
	background-color: #FAC172;
}
.umkm-bg-orange {
	background-color: #ff8357;
}
.umkm-bg-red {
	background-color: #e25b45;
}

/*List*/
.umkm-list {
	cursor: pointer;
}
.umkm-list:hover {
	background-color: #F7F7F7;
}
.umkm-list.active {
	background-color: #E6E6E6;
}

/*Border*/
.umkm-border-green {
	border: 1px solid #ADC965;
}
.umkm-border-creme {
	border: 1px solid #FAC172;
}

/*Navbar*/
.umkm-nav.active {
	border: 1px solid #ADC965 !important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.no-event {
	pointer-events: none;
}

.umkm-big-text {
	font-size: 70px;
	font-weight: bold;
}

.umkm-rounded {
	border-radius: 20px;
}

.umkm-rounded .umkm-header {
	border-radius: 20px 20px 0 0;
}

.umkm-left-navbar {
	position: fixed;
	border-right: 1px solid #E6E6E6;
	height: 100%;
}

.white-box {
	width: 30px;
	height: 30px;
	border: 0;
	background-color: white;
	border-radius: 8px;
}